<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles/index.css">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/font-awesome/css/font-awesome.min.css">
  <title>Fake taxi</title>
</head>
<body>

  <div class="container">
    <div class="wrapper">
      <button class="click_user">Зайти как пьяный юзер</button>
      <button class="click_user">Зайти как водитель</button>
    </div>
  </div>  
</body>
</html>